/* Todo:
** get width/height passed down better, more dry

*/
body {background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);}
.sandbox {
  display: flex;
  flex-direction: column;
}
.sandbox > div {
  display: flex;
  align-content: center;
}

/**/

.spriteAlign {
  position: relative;
  width: 100px;
  height: 100px;
}
.spriteContent {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

/*Stuff for PandaFan*/
@keyframes PandaFan {
   from { background-position:  0 0; }
     to { background-position: -400px 0; }
}
@keyframes PandaDj {
   from { background-position:   0 -500px; }
     to { background-position:  -200px -500px; }
}

.pandaSprite {
  background: url('pandastage.png');
}

.pandaFan {
  width: inherit;
  height: inherit;
  z-index: 1;
  background-position: 0 0;
}
.pandaFan--animate {
  animation: PandaFan 1s steps(4) infinite;
}

/*Stuff for PandaDj*/
.pandaDj {
  width: inherit;
  height: inherit;
  background-position: 0 -500px;
}
.pandaDj--animate {
  animation: PandaDj 1s steps(2) infinite;
}
.pandaDj--position {
  position: absolute;
  top: 0;
  left: 0;
}

.stage {
  width: 100px;
  height: 200px;
  z-index: 1;
  background-position: -200px -100px;
}
.stage--left {
  background-position: -100px -100px;
}
.stage--right {
  background-position: -600px -100px;
}

.spaceFiller {
  /*This is so hacky and cheating*/
  width: 100px;
  height: 100px;
  z-index: 1;
  background-position: -700px -500px;
}
.stageScaffold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-position: -100px -300px;
}
