/* Todo:
** get width/height passed down better, more dry
** figure
*/
body {background: linear-gradient(to bottom, #23538a 0%,#051933 100%);}
.sandbox {
  display: flex;
  flex-direction: column;
}
.sandbox > div {
  display: flex;
  align-content: center;
}

/**/

.Entity {
  position: relative;
  width: 100px;
  height: 100px;
}
.EntityContent {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.EntityContent > div {position: absolute;}

/*Stuff for PandaFan*/
@keyframes PandaFan {
   from { background-position:  0 0; }
     to { background-position: -400px 0; }
}
@keyframes PandaDj {
   from { background-position:   -800px 0; }
     to { background-position:  -1000px 0; }
}

.pandaSprite {
  background: url('pandastage.png');
}

.pandaFan {
  width: inherit;
  height: inherit;
  background-position: 0 0;
}
.pandaFan--animate {
  animation: PandaFan 1s steps(4) infinite;
}

/*Stuff for PandaDj*/
.pandaDj {
  width: inherit;
  height: inherit;
  background-position: -800px 0;
}
.pandaDj--animate {
  animation: PandaDj 1s steps(2) infinite;
}

.StickerGit {
  width: 100px;
  height: 100px;
  background-position: -800px -100px;
}

.stage {
  width: inherit;
  height: inherit;
  background-position: -900px -900px;
}
.stage--left {
  background-position: -100px -100px;
}
.stage--right {
  background-position: -600px -100px;
}

.spaceFiller {
  /*This is so hacky and cheating*/
  width: 100px;
  height: 100px;
  background-position: -700px -500px;
}
.stageScaffold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-position: -100px -300px;
}
